DLR.WPF/Connected Services/DlrServer/AuthService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AuthService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DzoAuthService" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ActsModel" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthService_Authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="IAuthService_Authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetActs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActs" />
  </wsdl:message>
  <wsdl:message name="IAuthService_GetActs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_DeleteAct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAct" />
  </wsdl:message>
  <wsdl:message name="IAuthService_DeleteAct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteActResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthService_AddAct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAct" />
  </wsdl:message>
  <wsdl:message name="IAuthService_AddAct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddActResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthService">
    <wsdl:operation name="Authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/Authenticate" message="tns:IAuthService_Authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/AuthenticateResponse" message="tns:IAuthService_Authenticate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActs">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/GetActs" message="tns:IAuthService_GetActs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/GetActsResponse" message="tns:IAuthService_GetActs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAct">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/DeleteAct" message="tns:IAuthService_DeleteAct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/DeleteActResponse" message="tns:IAuthService_DeleteAct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAct">
      <wsdl:input wsaw:Action="http://tempuri.org/IAuthService/AddAct" message="tns:IAuthService_AddAct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAuthService/AddActResponse" message="tns:IAuthService_AddAct_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAuthService" type="tns:IAuthService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://tempuri.org/IAuthService/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActs">
      <soap:operation soapAction="http://tempuri.org/IAuthService/GetActs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAct">
      <soap:operation soapAction="http://tempuri.org/IAuthService/DeleteAct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAct">
      <soap:operation soapAction="http://tempuri.org/IAuthService/AddAct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthService">
    <wsdl:port name="BasicHttpBinding_IAuthService" binding="tns:BasicHttpBinding_IAuthService">
      <soap:address location="http://localhost:8080/AuthService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>