DLR.WPF/Connected Services/DlrServer/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DzoAuthService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DzoAuthService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DlrModel" />
  <xs:complexType name="Token">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DlrModel" name="UserRegion" type="q1:Region" />
      <xs:element name="_x003C_ExpirationTime_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_TokenKey_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Token" nillable="true" type="tns:Token" />
</xs:schema>