DLR.WPF/Connected Services/DlrServer/item4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DzoAuthService" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DlrModel.Model" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="AuthenticateResult" nillable="true" type="q1:Token" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q2:Token" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DlrModel.Model" minOccurs="0" name="GetActsResult" nillable="true" type="q3:ArrayOfActBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActsCommon">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q4:Token" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActsCommonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DlrModel.Model" minOccurs="0" name="GetActsCommonResult" nillable="true" type="q5:ArrayOfActCommon" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActsIndividual">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q6:Token" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActsIndividualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DlrModel.Model" minOccurs="0" name="GetActsIndividualResult" nillable="true" type="q7:ArrayOfActIndividual" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActsInpectationFl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q8:Token" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActsInpectationFlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DlrModel.Model" minOccurs="0" name="GetActsInpectationFlResult" nillable="true" type="q9:ArrayOfActInpectationFl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActsInspectationUlIp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q10:Token" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActsInspectationUlIpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DlrModel.Model" minOccurs="0" name="GetActsInspectationUlIpResult" nillable="true" type="q11:ArrayOfActInspectationUlIp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActInspection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q12:Token" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActInspectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DlrModel.Model" minOccurs="0" name="GetActInspectionResult" nillable="true" type="q13:ArrayOfActInspection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgreementStatements">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q14:Token" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgreementStatementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DlrModel.Model" minOccurs="0" name="GetAgreementStatementsResult" nillable="true" type="q15:ArrayOfAgreementStatement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreaMeasurements">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q16:Token" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAreaMeasurementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DlrModel.Model" minOccurs="0" name="GetAreaMeasurementsResult" nillable="true" type="q17:ArrayOfAreaMeasurement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckingJournals">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q18:Token" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCheckingJournalsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DlrModel.Model" minOccurs="0" name="GetCheckingJournalsResult" nillable="true" type="q19:ArrayOfCheckingJournal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitizensCheckPlans">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q20:Token" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCitizensCheckPlansResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DlrModel.Model" minOccurs="0" name="GetCitizensCheckPlansResult" nillable="true" type="q21:ArrayOfCitizensCheckPlan" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersInspectionUlIp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q22:Token" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersInspectionUlIpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DlrModel.Model" minOccurs="0" name="GetOrdersInspectionUlIpResult" nillable="true" type="q23:ArrayOfOrderInspectionUlIp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotoTables">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q24:Token" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotoTablesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DlrModel.Model" minOccurs="0" name="GetPhotoTablesResult" nillable="true" type="q25:ArrayOfPhotoTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProtocols">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q26:Token" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProtocolsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DlrModel.Model" minOccurs="0" name="GetProtocolsResult" nillable="true" type="q27:ArrayOfProtocol" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegulations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q28:Token" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRegulationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DlrModel.Model" minOccurs="0" name="GetRegulationsResult" nillable="true" type="q29:ArrayOfRegulation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotoTablePhotos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q30:Token" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/DlrModel.Model" minOccurs="0" name="photoTable" nillable="true" type="q31:PhotoTable" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhotoTablePhotosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/DlrModel.Model" minOccurs="0" name="GetPhotoTablePhotosResult" nillable="true" type="q32:ArrayOfPhoto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/DlrModel.Model" minOccurs="0" name="act" nillable="true" type="q33:ActBase" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q34:Token" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateActResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateActResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q35:Token" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteActByIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DlrModel.Model" minOccurs="0" name="act" nillable="true" type="q36:ActBase" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q37:Token" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteActResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/DlrModel.Model" minOccurs="0" name="act" nillable="true" type="q38:ActBase" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q39:Token" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddActResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddActResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>