DLR.WPF/Connected Services/DlrServer/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DzoAuthService" />
  <xs:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ActsModel" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="AuthenticateResult" nillable="true" type="q1:Token" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q2:Token" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="offset" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ActsModel" minOccurs="0" name="GetActsResult" nillable="true" type="q3:ArrayOfAct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ActsModel" minOccurs="0" name="act" nillable="true" type="q4:Act" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q5:Token" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteActResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteActResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ActsModel" minOccurs="0" name="act" nillable="true" type="q6:Act" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DzoAuthService" minOccurs="0" name="token" nillable="true" type="q7:Token" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddActResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddActResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>